<body>
    
  <link rel="stylesheet" href="districts.component.css">

<div class="container">
    <div class="row">
    @for( item of districts ; track item.id){

     <div class="col">
<div class="card" style="width: 18rem;">
    <img src="{{item.image}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ item.title }}</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a [routerLink]="['/districts',item.id]" class="btn btn-primary">VISIT</a>
    </div>
  </div>
</div>

         }
        </div>
    </div>
    </body>
